@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


/* */
::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


body {
    font-family: 'Open Sans', sans-serif, 'Open Sans Condensed', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)),
        url("../images/gridpaper.jpg");
    line-height: 1.25em;
    /*    overflow-y: hidden;*/
    padding-top: 55px;
}

.navbar {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)),
        url("../images/gridpaper.jpg");
    /*backdrop-filter: blur(20px);*/
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5);

}

nav {
    border-bottom: dashed grey .5px;
}

main h1 {
    margin-bottom: .25em;
    font-size: 48px;
}

main p {
    position: relative;
    text-align: justify;
    font-weight: 300;
    vertical-align: middle;
}

a {
    color: black;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

a:hover {
    text-decoration: none;
}

footer {
    background: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .95)), url("../images/gridpaper.jpg");
    /*    backdrop-filter: blur(20px);*/
    height: 55px;
    color: white;
    text-align: center;
    padding-top: 20px;
    border-top: white solid 1px;
    z-index: 10;
}


#welcomedescription {
    padding: 0px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    /*    padding-bottom: 100px;*/
    /*    min-width: 300px;*/
    /*    min-height: 50vh;*/
    height: 250px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    /*
         background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)),
        url("../images/gridpaper.jpg");
*/
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

.featured-projects {
    /*    padding: 20px;*/
    padding-top: 40px;
    /*    padding-left: 25px;*/
    padding-right: 25px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    /*    margin-top: 25px;*/
    background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)),
        url("../images/gridpaper.jpg");

    border-top: solid black 1px;
    border-bottom: solid black 1px;


}

h3 {
    /*    padding-left: 15px;*/
    font-weight: 300;
    /*    color: white;*/
}

.with {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: 300;
    max-width: 175px;
    text-align: right;

}

.recent-work {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url("../images/gridpaper.jpg");
    /*    height: 75px;*/
    /*    margin-left: 15px;*/
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 25px;
    border: white solid 1px;
    border-left: none;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .5);

}



.projectcontainer {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../images/gridpaper.jpg");
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-flow: dense;
}


/*Image Set Up*/
.square {
    position: relative;
    /*    width: 100%;*/
    /*        min-width: 200px;*/
    /*    border: red 1px solid;*/
    background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)),
        url("../images/gridpaper.jpg");
    grid-row: span 1;
    grid-column: span 1;
    max-height: 100%;
    border-radius: 1px;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}


.square-extend-1 {
    grid-row: span 2;
    /*    width: 40%;*/
    /*    min-width: 400px;*/
    max-height: 200%;
}

.square-extend-1:after {
    content: "";
    display: block;
    padding-bottom: 200%;
}


.square-extend-2 {
    grid-column: span 2;
    grid-row: span 3;
    max-height: 150%;
    /*    min-width: 400px;*/
}

.square-extend-2:after {
    content: "";
    display: block;
    padding-bottom: 150%;
    max-height: 150%;

}

.square-content {
    position: absolute;
    /*
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
*/
}


.image-box {
    width: 100%;
    top: 0%;
    overflow: hidden;
    background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)),
        url("../images/gridpaper.jpg");
    border-bottom: rgba(0, 0, 0, .8) solid .1px;
    overflow: hidden;
}


.image-box-1 {
    height: 50%;
}

.image-box-2 {
    height: 66.67%;

}

.projectcontainer img {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.triangle-bottom {
    position: absolute;
    overflow: hidden;
    width: 20%;
}

.triangle-bottom-1 {
    right: 10%;
    bottom: 50%;
    height: 10%;
}

.triangle-bottom-2 {
    right: 2.5%;
    bottom: 33.333%;
    height: 6.6667%;
}

.triangle-bottom:before {
    position: absolute;
    content: "";
    display: block;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)),
        url("../images/gridpaper.jpg");
    transform: rotate(45deg);
    transform-origin: bottom left;

    -ms-transform: rotate(45deg);
    -ms-transform-origin: bottom left;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: bottom left;
    border-left: rgba(0, 0, 0, .8) solid 1px;
    border-top: rgba(0, 0, 0, .8) solid 1px;
}


.corner {
    position: absolute;
    width: 20px;
}

.corner::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.corner-left {
    top: 15px;
    left: 10px;
    border-top: solid 1.2px;
    border-left: solid 1.2px;
}

.corner-right {
    bottom: 15px;
    right: 10px;
    border-bottom: solid 1.2px;
    border-right: solid 1.2px;
}

.sectiontitlebox {
    position: relative;
    grid-column: span 1;
    grid-row: span 2;
    /*    max-height: 200%;*/
}

.sectiontitlebox:after {
    content: "";
    display: block;
    padding-bottom: 200%;
}

.sectiontitle {
    position: absolute;
    padding: 20px;
    padding-top: 40px;
    width: 100%;
    /*    height: 200%;*/
    display: flex;
    flex-direction: column;
}

.sectiontitle h1 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    margin: 0;
    margin-right: 5px;
    font-weight: 500;
    font-size: 72px;
    color: white;
}


/*Project box Set Up*/


.text-box {
    padding: 20px;
    color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    /*   vertical-align: middle;*/

    display: flex;
    /* make children flex too for centering */
    flex-direction: column;
    align-items: center;
    /* vertical center */
    justify-content: flex-start;
    /* horizontal center */
    border: 0px;

}


.text-box h1 {
    /*        margin-top: 10px;*/

    margin-bottom: 3em;
    font-size: 48px;
}

.text-box p {
    text-align: left;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;

}

.with-image {}

.with-image-1 {
    top: 50%;
    height: 50%;
}

.with-image-2 {
    top: 66.67%;
    height: 33.33%;
}


.text-box h1 {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: .25em;

}



.text-box:hover {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url("../images/gridpaper.jpg");
    color: white;

}

.text-box-link:hover + .triangle-bottom:before {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url("../images/gridpaper.jpg");
}

.btn-filter {
    background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)),
        url("../images/gridpaper.jpg");
    border: rgba(0, 0, 0, .8) solid .1px;
    color: black;
    font-weight: 300;
    font-size: 1.5em;

}

.btn-filter:hover {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url("../images/gridpaper.jpg");
    border: rgba(255, 255, 255, .95) solid .1px;
    color: white;
}

.active {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url("../images/gridpaper.jpg");
    border: rgba(255, 255, 255, .95) solid .1px;
    color: white;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5);
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}




@media only screen and (max-width: 576px) {




    .sectiontitlebox {
        position: relative;
        grid-column: span 2;
        grid-row: span 2;
    }

    .sectiontitlebox:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .sectiontitle {
        position: absolute;
        padding: 20px;
        padding-top: 40px;
        width: 100%;
        height: 100%;
    }

    .square {
        position: relative;
        /*    width: 100%;*/
        /*        min-width: 200px;*/
        /*    border: red 1px solid;*/
        background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)),
            url("../images/gridpaper.jpg");
        grid-row: span 2;
        grid-column: span 2;
        border-bottom: solid black 1px;
        visibility: hidden;

    }

    .show {
        visibility: visible;
    }

    .square:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }


    .square-extend-1 {
        grid-column: span 2;
        grid-row: span 3;

    }

    .square-extend-1:after {
        content: "";
        display: block;
        padding-bottom: 150%;
    }


    .square-extend-2 {
        grid-column: span 2;
        grid-row: span 3;
    }

    .square-extend-2:after {
        content: "";
        display: block;
        padding-bottom: 150%;
    }


    .image-box {
        width: 100%;
        top: 0%;
        overflow: hidden;
        background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)),
            url("../images/gridpaper.jpg");
        border: rgba(0, 0, 0, .8) solid .1px;
        overflow: hidden;
    }


    .image-box-1 {
        height: 66.67%;
    }

    .image-box-2 {
        height: 66.67%;

    }


    .triangle-bottom {
        position: absolute;
        overflow: hidden;
        width: 20%;
    }

    .triangle-bottom-1 {
        right: 2.5%;
        bottom: 33.333%;
        height: 6.6667%;
    }

    .triangle-bottom-2 {
        right: 2.5%;
        bottom: 33.333%;
        height: 6.6667%;
    }


    .with-image {}

    .with-image-1 {
        top: 66.67%;
        height: 33.33%;
    }

    .with-image-2 {
        top: 66.67%;
        height: 33.33%;
    }


}

.introbox {
    margin-bottom: 20px;
    background: linear-gradient(rgba(255, 255, 255, .92), rgba(255, 255, 255, .92)),
        url("../images/gridpaper.jpg");
}

#myButtonGroup {
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .5);

}

#welcometext {
    position: absolute;
    width: calc(100% - 50px);
    /* margin: 0px;*/
    /*    padding: 0px;*/

}

#svg {
    position: relative;
}
