@import url('https://fonts.googleapis.com/css2?family=Asap&family=Mandali&display=swap');

text {
font-family: 'Asap', sans-serif; 
}

body {
    font-family: 'Asap', sans-serif;
    padding-top: 66px;
}


.navbar-brand{
    font-size: 28px;
}

.navbar {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    
}

.project-details {
   margin:0;
  padding:0;
     
    
}

.project-description {
padding-top: 66px;
padding-left: 60px;
padding-right: 60px;
width: 100%;
position: relative;
    
}

.project-title {
font-family: "Asap";
    font-size: 30px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    color: #313131;
    margin-top: 0;     
}

.project-text {
    padding-top: 20;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.67em;
    font-size: 15px;
    font-weight: normal;
    font-style: normal    
      
}


.spacer{
    
   width: 0px;
   padding-top: 0px;
 
    
}

.project-body{
padding-top: 66px;
text-align: center;

}

img{
    
    position: relative;
}


@media screen and (min-width: 992px) {

.project-description {
padding-top: 66px;
padding-left: 60px;
padding-right: 35px;
width: 360px;
position: fixed;
    
}

.project-title {
font-family: "Asap";
    font-size: 30px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 100;
    font-style: normal;
    color: #313131;
    margin-top: 0;     
}

.project-text {
    padding-top: 20;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.67em;
    font-size: 15px;
    font-weight: normal;
    font-style: normal    
      
}


.spacer{
    
   width: 360px;
   padding-top: 50px;
 
    
}

.project-body{
padding-top: 66px;
text-align: center;

    
}
    
#projectscontainer {
   margin:0;
  padding:0;
    
}



